body{
    text-align: center;
}
.quadrado{
    text-align: center;
    width: 35px;
    background: #7f7d7d;
    display: inline-block;
    padding: 25px;
    font-size: 45px;
    margin: 5px;
    cursor: pointer;
    color: #7f7d7d;
}

.jogador , .vencedor{
 font-size: 30px;
 margin-top: 10px;
}

button{
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background: #eee;
    cursor: pointer;
}

@media (max-width: 599px){
.quadrado{
    width: 2rem !important;
    padding: 1,5rem !important;
    font-size: 1rem !important;
    margin: 0,5rem !important ;
    border: 3rem !important;
 }
}